body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #282c34 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 5px;
  background: #212529;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
  height: 60px;
}
body::-webkit-scrollbar-thumb :hover{
  background: black;
  height: 60px;
}

.flex-display {
  display: flex;
  flex-wrap: wrap;
}